{
	"plugins": ["prettier-plugin-tailwindcss"],
	"tabWidth": 4,
	"useTabs": true,
	"bracketSameLine": true,
	"printWidth": 120,
	"jsxSingleQuote": true,
	"singleQuote": true,
	"vueIndentScriptAndStyle": true
}
